.wrapper {
  width: 100%;
  .container {
    width: 100%;
    .cards {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 40px;
      overflow: hidden;
      box-shadow: 12px 0 12px -2px rgba(80, 143, 244, 0.1),
        -12px 0 12px 2px rgba(80, 143, 244, 0.1);
      background: rgba(78, 74, 74, 0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 25px;
      .images {
        width: 100%;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 90%;
          height: auto;
          // object-fit: cover;
        }
      }
      .informations {
        background: rgba(78, 74, 74, 0.4);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .tilt {
          display: flex;
          justify-content: center;
          .title {
            font-family: "Poppins";
            font-size: 35px;
            line-height: 45px;
            text-align: center;
            background-color: #fa8bff;
            display: inline-block;
            background-image: linear-gradient(
              45deg,
              #fa8bff 0%,
              #2bd2ff 52%,
              #2bff88 90%
            );

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500px;
          }
          margin-bottom: 10px;
        }
        .name {
          margin-top: 10px;
          font-size: 20px;
          line-height: 28px;
          font-weight: 500px;
          color: #fff;
          span {
            opacity: 0.5;
          }
        }
      }
    }
    .mapty {
      margin: 40px 0;
      width: 100%;
      height: 650px;
      box-shadow: 12px 0 12px -2px rgba(80, 143, 244, 0.1),
        -12px 0 12px 2px rgba(80, 143, 244, 0.1);
      background: rgba(78, 74, 74, 0.3);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 25px;
      overflow: hidden;
      .leaflet {
        width: 100%;
        height: 650px;
      }
    }
  }
}
