.wrapper {
  width: 100%;
  min-height: 150vh;
  overflow: hidden;
  position: relative;
  // background: var(--color-light-dark);
  background-size: contain;
  z-index: 1;
  .container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  &.active {
    position: fixed;
  }
  &.act {
    position: relative;
  }
  &.a {
    position: relative;
  }
  &.b {
    position: relative;
  }
  &.c {
    position: relative;
  }
  &.l {
    position: relative;
  }
  &.k {
    position: relative;
  }
}
