.wrapper {
  width: 100%;
  padding: 20px 30px;
  background: #f5f6ff;
  min-height: 100vh;
  border-radius: 25px;
  background-image: url("../../../assets/images/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .allCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    // -webkit-column-count: 4;
    // -moz-column-count: 4;
    // column-count: 4;
    // -webkit-column-width: 25%;
    // -moz-column-width: 25%;
    // column-width: 25%;
    box-sizing: border-box;
  }
}
