.cards {
  width: 100%;
  text-decoration: none;
  box-shadow: 0 5px 15px transparent;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.225s linear;
  transition-property: background-color;
  border-radius: 10px;
  box-shadow: transparent 0px -50px 36px -28px inset;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .card {
    border-radius: 10px;
    height: 250px;
    position: relative;
    background: rgba(6, 12, 33, 0.1);
    .card-header {
      overflow: hidden;
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 180px;
      position: relative;
      z-index: 3;
      border-bottom: 1px solid rgba(255, 255, 255, 0.18);
      box-sizing: border-box;
      will-change: transform;
      background: rgba(255, 255, 255, 0.25);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
      }
    }
    .card-body {
      height: 70px;
      padding: 20px 10px 10px;
      .title {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        color: #fff;
      }
      border-radius: 0 0 10px 10px;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
    }
  }
  &:hover {
    background-color: rgba(117, 117, 117, 0.1);
  }
}
