.wrapper {
  width: 100%;
  display: flex;
  padding-top: 40px;
  .container {
    padding: 15px 0;
    padding-right: 5px;
    width: 400px;
    overflow: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    .btns {
      margin: 0 5px;
      width: 100%;
      display: block;
      display: flex;
      gap: 15px;
      box-sizing: border-box;
      .btn {
        box-sizing: border-box;
        height: 44px;
        cursor: pointer;
        position: relative;
        border: 0;
        background: transparent;
        p {
          box-sizing: border-box;
          position: relative;
          z-index: 2;
          top: 0;
          left: 0;
          padding: 10px 30px;
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          color: #fff;
          z-index: 3;
          text-align: center;
          border: 1px solid rgba(255, 255, 255, 0.18);
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);
          white-space: nowrap;
        }
        transition: all linear 0.225s;
        &::before {
          content: "";
          background: transparent;
          position: absolute;
          filter: blur(5px);
          z-index: 1;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          width: 50%;
          height: 4px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 3px 4px transparent;
          -moz-box-shadow: 0px 0px 3px 4px transparent;
          box-shadow: 0px 0px 3px 4px transparent;
          transition: ease-in .225s;
          transition-property: background-color, -webkit-box-shadow,
            -webkit-box-shadow, box-shadow;
        }
        &.active {
          &::before {
            content: "";
            background: rgb(45, 255, 196);
            -webkit-box-shadow: 0px 0px 3px 4px rgba(45, 255, 196, 0.9);
            -moz-box-shadow: 0px 0px 3px 4px rgba(45, 255, 196, 0.9);
            box-shadow: 0px 0px 3px 4px rgba(45, 255, 196, 0.9);
          }
        }
        &:hover {
          &::before {
            content: "";
            background: rgb(45, 255, 196);
            -webkit-box-shadow: 0px 0px 3px 4px rgba(45, 255, 196, 0.9);
            -moz-box-shadow: 0px 0px 3px 4px rgba(45, 255, 196, 0.9);
            box-shadow: 0px 0px 3px 4px rgba(45, 255, 196, 0.9);
          }
        }
      }
    }
  }
}
