$mobile-h: 150px;
$mobile-center: 380px;

.wrapper {
  width: 100%;
  min-height: 800px;
  padding: 132px 0;
  .title {
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    width: 80%;
    margin: 0 auto;
    color: var(--color-light-white);
    span {
      color: var(--color-light-info);
    }
    @media screen and (max-width: 750px) {
      padding: 0 15px;
      width: 100%;
      box-sizing: border-box;
      font-size: 35px;
      line-height: 45px;
    }
  }
  .container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    .row {
      min-width: 1170px;
      margin-top: 50px;
      padding: 0 30px;
      height: 480px;
      display: grid;
      align-items: center;
      grid-gap: calc(2%);
      box-sizing: border-box;
      grid-template-columns: 15% 15% 32% 15% 15%;
      .left-cart-1 {
        height: 480px;
        display: grid;
        align-items: center;
        transition: all linear 0.3s;
        .card-1 {
          overflow: hidden;
          img {
            width: 100%;
            height: 250px;
            border-radius: 40px;
            object-fit: cover;
          }
        }
      }
      .left-cart-2 {
        height: 480px;
        transition: all linear 0.5s;
        .card-1 {
          overflow: hidden;
          height: 270px;
          img {
            width: 100%;
            height: 270px;
            border-radius: 40px;
            object-fit: cover;
          }
        }
        .card-2 {
          margin-top: 30px;
          overflow: hidden;
          height: max-content;
          img {
            width: 100%;
            height: 180px;
            border-radius: 40px;
            object-fit: cover;
          }
        }
      }
      .center {
        height: 480px;
        transition: all linear 0.5s;
        .card-1 {
          height: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 480px;
            border-radius: 40px;
            object-fit: cover;
          }
        }
      }
      .right-cart-2 {
        height: 480px;
        transition: all linear 0.5s;
        .card-1 {
          margin-top: 30px;
          overflow: hidden;
          height: max-content;
          img {
            width: 100%;
            height: 270px;
            border-radius: 40px;
            object-fit: cover;
          }
        }
        .card-2 {
          overflow: hidden;
          height: max-content;
          img {
            width: 100%;
            height: 180px;
            border-radius: 40px;
            object-fit: cover;
          }
        }
      }
    }
    @media screen and (max-width: 650px) {
      .row {
        width: 100%;
        min-width: 100%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 0 15px;
        div {
          transform: scale(1) !important;
        }
        .left-cart-1 {
          height: $mobile-h;
          .card-1 {
            img {
              height: $mobile-h;
              border-radius: 24px;
            }
          }
        }
        .left-cart-2 {
          height: $mobile-h;
          display: grid;
          grid-template-columns: 1.6fr 1fr;
          box-sizing: border-box;
          gap: 20px;
          .card-1 {
            height: 100%;
            img {
              height: $mobile-h;
              border-radius: 24px;
            }
          }
          .card-2 {
            height: 100%;
            margin-top: 0;
            img {
              height: $mobile-h;
              border-radius: 24px;
            }
          }
        }
        .center {
          height: $mobile-center;
          .card-1 {
            height: 100%;
            img {
              height: $mobile-center;
              border-radius: 24px;
            }
          }
        }
        .right-cart-2 {
          height: $mobile-h;
          display: grid;
          grid-template-columns: 1fr 1.6fr;
          box-sizing: border-box;
          gap: 20px;
          .card-1 {
            height: 100%;
            margin-top: 0;
            img {
              height: $mobile-h;
              border-radius: 24px;
            }
          }
          .card-2 {
            height: 100%;
            img {
              height: $mobile-h;
              border-radius: 24px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    padding: 60px 0 90px;
  }
}
