.wrapper {
  width: 100%;
  padding: 20px 30px;
  background: #f8f8f8;
  min-height: 100vh;
  .allCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    box-sizing: border-box;
    .cards {
      width: 100%;
      height: 180px;
      .card {
        width: 100%;
        max-height: 150px;
        height: auto;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
      .title {
        text-align: center;
        margin-top: 10px;
      }
    }
  }
}
